html,
body {
    color: #594440;
    font-family: "Nimbus", sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.clr-fix:after {
    content: '';
    clear: both;
    display: block;
}

.form-container {
    width: 100%;
}

.form {
    width: 100%;
}

.form-group {
    width: 100%;
}

.input {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: rgb(31, 14, 20);
    -webkit-box-shadow: 0 2px 2px 0 rgba(229, 138, 173, 0.15), inset 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 2px 0 rgba(229, 138, 173, 0.15), inset 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px 0 rgba(229, 138, 173, 0.15), inset 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    border: none;
    color: #ffde7b;
    font-family: "Marck Script", sans-serif;
    font-weight: 400;
    font-size: 1.62rem;
    line-height: 54px;
    outline: none;
    padding: 0 80px 0 20px;
    width: 100%;
    height: 54px;
}

.input::placeholder {
    color: #ffde7b;
}

.input:-moz-placeholder {
    color: #ffde7b;
}

.input:-ms-input-placeholder {
    color: #ffde7b;
}

.input::-webkit-input-placeholder {
    color: #ffde7b;
}

.input::-moz-placeholder {
    color: #ffde7b;
}

.button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.button:hover,
.button:focus,
.button:active,
.button {
    outline: none;
}

.button--submit {
    line-height: 54px;
    display: inline-block;
    width: 54px;
    height: 54px;
}

.i-key {
    background: url("../img/slide-1/icon_key.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    line-height: inherit;
    display: inline-block;
    width: 38px;
    height: 18px;
}

.slide {
    border: 30px solid #1f0e14;
    padding: 30px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.copyright {
    color: #4c2d39;
    font-size: .875rem;
    font-weight: normal;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 0;
    position: absolute;
    bottom: -30px;
    right: 0;
}

/*SLIDE 1*/

.slide-1 {
    background: url("../img/slide-1/border-top-left.png") no-repeat top left,
    url("../img/slide-1/border-top-right.png") no-repeat top right,
    url("../img/slide-1/border-bottom-left.png") no-repeat bottom left,
    url("../img/slide-1/border-bottom-right.png") no-repeat bottom right,
    url("../img/slide-1/bg.jpg") repeat 0 0;
    -webkit-background-origin: content-box;
    background-origin: content-box;
    z-index: 1000;
}

.slide-1-title-box {
    text-align: center;
    margin-top: 4rem;
    padding: 0 90px;
    position: relative;
    z-index: 1500;
}

.slide-1-title {
    color: #ffde7b;
    font-family: "Andantino", sans-serif;
    font-size: 7.25rem;
    font-weight: 400;
    line-height: 7.7rem;
    margin-bottom: 2rem;
}

.slide-1-subtitle {
    color: #804c60;
    font-size: 1.88rem;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 2.2rem;
    text-transform: uppercase;
}

.slide-1-animation-box {
    margin-left: -230px;
    margin-top: -15rem;
    position: absolute;
    width: 460px;
    height: 39rem;
    left: 50%;
    top: 50%;
}

.animation-box__layout {
    position: absolute;
    width: 100%;
    height: 100%;
}

.layout-bg {
    margin-left: -5.4rem;
    overflow: hidden;
    width: 10.8rem;
    height: 17.5rem;
    top: 10.2rem;
    left: 50%;
    z-index: 1105;
}

.layout-bg img {
    position: absolute;
    left: -31px;
    top: 1.3rem;
    width: 257px;
    height: auto;
}

.layout-bg--img-position {
    animation: imgPosition 10s linear infinite;
}

.layout-bg__layout {
    background: rgba(255, 255, 255, .85);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1107;
}

.layout-bg__layout--opacity {
    animation: layoutOpacity 10s linear infinite;
}

.layout-lock {
    background: url("../img/slide-1/img_lock.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    z-index: 1110;
}

.layout-shine {
    background: url("../img/slide-1/img_lock-shine.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    width: 620px;
    height: 29.81rem;
    top: 1.375rem;
    left: -81px;
    z-index: 1115;
}

.layout-shine--rotate {
    animation: layoutShineRotate 30s linear infinite;
}

.entered-form {
    text-align: center;
    padding: 0 90px;
    position: absolute;
    width: 100%;
    bottom: 90px;
    left: 0;
    z-index: 1200;
}

.entered-form__group {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

.entered-form__input {
    max-width: 400px;
}

.entered-form__button {
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 1220;
}

.i-key--rotate {
    animation: keyRotate 10s linear infinite;
}

.keys-shine {
    background: url("../img/slide-1/icon_keies-shine.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    position: absolute;
    top: -13px;
    right: 5px;
    width: 74px;
    height: 74px;
    z-index: 1210;
}

.keys-shine--change-height {
    transform-style: preserve-3d;
    animation: keyShineChangeHeight 10s linear infinite;
}

@keyframes imgPosition {
    0% {
        transform: translate(0, 0);

    }
    100% {
        transform: translate(-40px, 80px) scale(1.5);
    }
}

@keyframes layoutOpacity {
    0% {
        opacity: 0;

    }
    87% {
        opacity: .5;
    }
    98% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes layoutShineRotate {
    0% {
        transform: rotateZ(0deg);
    }
    25% {
        transform: rotateZ(45deg);
    }
    50% {
        transform: rotateZ(0deg);
    }
    75% {
        transform: rotateZ(-45deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes keyRotate {
    0% {
        transform: rotateX(0deg);
    }
    25% {
        transform: rotateX(90deg);
    }
    50% {
        transform: rotateX(180deg);
    }
    75% {
        transform: rotateX(270deg);
    }
    100% {
        transform: rotateX(360deg);
    }
}

@keyframes keyShineChangeHeight {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(.5);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(.5);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    html {
        overflow: hidden;
        height: 100%;
    }

    body {
        overflow: auto;
        height: 100%;
    }
}