html,
body {
    color: #594440;
    font-family: "Nimbus", sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

.container {
    background: #f5ecd0;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.clrfix:after {
    content: '';
    clear: both;
    display: block;
}

.form-container {
    width: 100%;
}

.form {
    width: 100%;
}

.form-group {
    width: 100%;
}

.input {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: rgb(31, 14, 20);
    -webkit-box-shadow: 0 2px 2px 0 rgba(229, 138, 173, 0.15), inset 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 2px 0 rgba(229, 138, 173, 0.15), inset 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px 0 rgba(229, 138, 173, 0.15), inset 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    border: none;
    color: #ffde7b;
    font-family: "Marck Script", sans-serif;
    font-weight: 400;
    font-size: 1.62rem;
    line-height: 54px;
    outline: none;
    padding: 0 80px 0 20px;
    width: 100%;
    height: 54px;
}

.input::-ms-clear {
    display: none;
}

.input::placeholder {
    color: #ffde7b;
}

.input:-moz-placeholder {
    color: #ffde7b;
}

.input:-ms-input-placeholder {
    color: #ffde7b;
}

.input::-webkit-input-placeholder {
    color: #ffde7b;
}

.input::-moz-placeholder {
    color: #ffde7b;
}

.button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.button:hover,
.button:focus,
.button:active,
.button {
    outline: none;
}

.button--submit {
    line-height: 54px;
    display: inline-block;
    width: 54px;
    height: 54px;
}

.i-key {
    background: url("../img/slide-1/icon_key.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    line-height: inherit;
    display: inline-block;
    width: 38px;
    height: 18px;
}

.slide {
    border: 30px solid #1f0e14;
    padding: 30px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.copyright {
    color: #4c2d39;
    font-size: .875rem;
    font-weight: normal;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 0;
    position: absolute;
    bottom: -30px;
    right: 0;
}

/*SLIDE 1*/

.slide-1 {
    background: url("../img/slide-1/border-top-left.png") no-repeat top left,
    url("../img/slide-1/border-top-right.png") no-repeat top right,
    url("../img/slide-1/border-bottom-left.png") no-repeat bottom left,
    url("../img/slide-1/border-bottom-right.png") no-repeat bottom right,
    url("../img/slide-1/bg.jpg") repeat 0 0;
    -webkit-background-origin: content-box;
    background-origin: content-box;
    z-index: 1000;
}

.slide-1-title-box {
    text-align: center;
    margin-top: 4rem;
    padding: 0 90px;
    position: relative;
    z-index: 1500;
}

.slide-1-title {
    color: #ffde7b;
    font-family: "Andantino", sans-serif;
    font-size: 7.25rem;
    font-weight: 400;
    line-height: 7.7rem;
    margin-bottom: 2rem;
}

.slide-1-subtitle {
    color: #804c60;
    font-size: 1.88rem;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 2.2rem;
    text-transform: uppercase;
}

.slide-1-animation-box {
    margin-left: -230px;
    margin-top: -15rem;
    position: absolute;
    width: 460px;
    height: 39rem;
    left: 50%;
    top: 50%;
}

.animation-box__layout {
    position: absolute;
    width: 100%;
    height: 100%;
}

.layout-bg {
    margin-left: -5.4rem;
    overflow: hidden;
    width: 10.8rem;
    height: 17.5rem;
    top: 10.2rem;
    left: 50%;
    z-index: 1105;
}

.layout-bg img {
    position: absolute;
    left: -31px;
    top: 1.3rem;
    width: 257px;
    height: auto;
}

.layout-bg--img-position {
    -webkit-animation: imgPosition 10s linear infinite;
    -o-animation: imgPosition 10s linear infinite;
    animation: imgPosition 10s linear infinite;
}

.layout-bg__layout {
    background: rgba(255, 255, 255, .85);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1107;
}

.layout-bg__layout--opacity {
    -webkit-animation: layoutOpacity 10s linear infinite;
    -o-animation: layoutOpacity 10s linear infinite;
    animation: layoutOpacity 10s linear infinite;
}

.layout-lock {
    background: url("../img/slide-1/img_lock.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    z-index: 1110;
}

.layout-shine {
    background: url("../img/slide-1/img_lock-shine.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    width: 620px;
    height: 29.81rem;
    top: 1.375rem;
    left: -81px;
    z-index: 1115;
}

.layout-shine--rotate {
    -webkit-animation: layoutShineRotate 30s linear infinite;
    -o-animation: layoutShineRotate 30s linear infinite;
    animation: layoutShineRotate 30s linear infinite;
}

.entered-form {
    text-align: center;
    padding: 0 90px;
    position: absolute;
    width: 100%;
    bottom: 90px;
    left: 0;
    z-index: 1200;
}

.entered-form__group {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

.entered-form__input {
    max-width: 400px;
}

.entered-form__button {
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 1220;
}

.i-key--rotate {
    -webkit-animation: keyRotate 5s linear infinite;
    -o-animation: keyRotate 5s linear infinite;
    animation: keyRotate 5s linear infinite;
}

.keys-shine {
    background: url("../img/slide-1/icon_keies-shine.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    position: absolute;
    top: -13px;
    right: 5px;
    width: 74px;
    height: 74px;
    z-index: 1210;
}

.key-shine--change-height {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation: keyShineChangeHeight 5s linear infinite;
    -o-animation: keyShineChangeHeight 5s linear infinite;
    animation: keyShineChangeHeight 5s linear infinite;
}

@keyframes imgPosition {
    0% {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);

    }
    100% {
        -webkit-transform: translate(-40px, 80px) scale(1.5);
        -moz-transform: translate(-40px, 80px) scale(1.5);
        -ms-transform: translate(-40px, 80px) scale(1.5);
        -o-transform: translate(-40px, 80px) scale(1.5);
        transform: translate(-40px, 80px) scale(1.5);
    }
}

@keyframes layoutOpacity {
    0% {
        opacity: 0;

    }
    87% {
        opacity: .5;
    }
    98% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes layoutShineRotate {
    0% {
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    25% {
        -webkit-transform: rotateZ(45deg);
        -moz-transform: rotateZ(45deg);
        -ms-transform: rotateZ(45deg);
        -o-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
    }
    50% {
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    75% {
        -webkit-transform: rotateZ(-45deg);
        -moz-transform: rotateZ(-45deg);
        -ms-transform: rotateZ(-45deg);
        -o-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
    }
    100% {
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
}

@keyframes keyRotate {
    0% {
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    50% {
        -webkit-transform: rotateX(90deg);
        -moz-transform: rotateX(90deg);
        -ms-transform: rotateX(90deg);
        -o-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }
    100% {
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        -o-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }
}

@keyframes keyShineChangeHeight {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(.5);
        -moz-transform: scale(.5);
        -ms-transform: scale(.5);
        -o-transform: scale(.5);
        transform: scale(.5);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

/*SLIDE 2*/

.slide-2 {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 900;
}

.slide-2__bg-color {
    background: #f5ecd0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 901;
}

.slide-2__bg {
    background: url("../img/slide-2/border-top-left.png") no-repeat top left,
    url("../img/slide-2/border-top-right.png") no-repeat top right,
    url("../img/slide-2/border-bottom-left.png") no-repeat bottom left,
    url("../img/slide-2/border-bottom-right.png") no-repeat bottom right,
    url("../img/slide-2/border-bottom-center.png") no-repeat bottom center;
    -webkit-background-origin: content-box;
    background-origin: content-box;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 903;
}

.slide-2__bg-elems {
    padding: 46px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 902;
}

.slide-2-bg-elems__border {
    border: 2px solid #ccbe8f;
    width: 100%;
    height: 100%;
}

.slide-2__content {
    padding: 0 220px;
    position: absolute;
    width: 100%;
    max-height: 600px;
    left: 0;
    top: 8rem;
    z-index: 905;
}

.slide-2-content__wrap {
    margin: 0 auto;
    overflow-y: auto;
    max-height: 600px;
    width: 95%;
}

.slide-2 h2 {
    font-family: "Andantino", sans-serif;
    font-size: 3.4rem;
    font-weight: 400;
    line-height: 3.6rem;
    text-align: center;
    margin-bottom: 1rem;
}

.slide-2 h2 span {
    color: #804058;
}

.slide-2 p {
    font-family: "Andantino", sans-serif;
    font-size: 2.75rem;
    font-weight: 400;
    line-height: 3rem;
    text-align: center;
    margin-bottom: .8rem;
}

.slide-2 p:first-of-type {
    margin-top: 2.5rem;
}

.slide-2 h2:last-of-type {
    margin-top: 3rem;
}

/*SLIDE 3*/

.slide-3 {
    width: 100%;
    height: 100%;
    z-index: 800;
}

.slide-3-bg {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 790;
}

.slide-3-bg img {
    width: 100%;
    height: 100%;
}

.slide-3-bg-img--bg-animation {
    -webkit-animation: slide3BgAnimation 60s linear infinite;
    -o-animation: slide3BgAnimation 60s linear infinite;
    animation: slide3BgAnimation 60s ease-in infinite;
}

.catalog {
    position: absolute;
    top: 5%;
    left: -30px;
    height: 90%;
    width: 74%;
}

.catalog-item {
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
}

.catalog-item[data-item-number="1"] {
    z-index: 840;
}

.catalog-item[data-item-number="2"] {
    z-index: 830;
}

.catalog-item[data-item-number="3"] {
    z-index: 820;
}

.catalog-item[data-item-number="4"] {
    z-index: 810;
}

.catalog-img {
    background: no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: inset -1px 0 2px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset -1px 0 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset -1px 0 2px 0 rgba(0, 0, 0, 0.1);
    float: left;
    position: relative;
    width: 34%;
    height: 100%;
}

.catalog-img--first-item {
    background-image: url("../img/slide-3/bg_note-title1.jpg");
}

.catalog-img--second-item {
    background-image: url("../img/slide-3/bg_note-title2.jpg");
}

.catalog-img--third-item {
    background-image: url("../img/slide-3/bg_note-title3.jpg");
}

.catalog-img--fourth-item {
    background-image: url("../img/slide-3/bg_note-title4.jpg");
}

.catalog-content {
    background: url("../img/slide-3/border-top-left.png") no-repeat top left,
    url("../img/slide-3/border-top-right.png") no-repeat top right,
    url("../img/slide-3/border-bottom-left.png") no-repeat bottom left,
    url("../img/slide-3/border-bottom-right.png") no-repeat bottom right;
    -webkit-background-origin: content-box;
    background-origin: content-box;
    float: left;
    overflow: hidden;
    padding: 30px;
    position: relative;
    width: 66%;
    height: 100%;
}

.catalog-content--first-item {
    background-color: #fae7d4;
}

.catalog-content--second-item {
    background-color: #faf5bb;
}

.catalog-content--third-item {
    background-color: #f2e8da;
}

.catalog-content--fourth-item {
    background-color: #ffffff;
}

.catalog-content-head {
    padding: 30px 20px 0;
    width: 100%;
    height: 23%;
}

.catalog-content-head.gallery-title {
    height: 12%;
}

.catalog-content-head h2 {
    color: #804058;
    font-family: Andantino, sans-serif;
    font-size: 3.375rem;
    font-weight: 400;
    line-height: 3.5rem;
    text-align: center;
}

.catalog-content-head p {
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.75rem;
    text-align: center;
    margin-bottom: 0;
}

.catalog-content-body {
    padding-top: 30px;
    padding-left: 20px;
    width: 100%;
    height: 47%;
}

.catalog-content-body.gallery {
    height: 77%;
}

.catalog-content-body.gallery img {
    display: block;
    margin: 0 auto;
    width: 85%;
    height: auto;
}

.catalog-content-body p {
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: left;
    margin-bottom: 1rem;
}

.catalog-content-footer {
    padding: 0 20px;
    position: relative;
    width: 100%;
    height: 30%;
}

.catalog-content-footer h3 {
    color: #804058;
    font-family: Andantino, sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 2.75rem;
    text-align: center;
}

.catalog-content-candy {
    margin: 35px auto 0;
    position: relative;
    width: 132px;
    height: 148px;
}

.candy-img {
    margin-left: -45px;
    position: absolute;
    left: 50%;
    width: 90px;
    height: 90px;
}

.candy-img img {
    width: 100%;
    height: auto;
}

.candy-img--animation {
    -webkit-animation: candyImgAnimation 3s ease-in infinite;
    -o-animation: candyImgAnimation 3s ease-in infinite;
    animation: candyImgAnimation 3s ease-in infinite;
}

.candy-shadow {
    background: url("../img/slide-3/img_candy-shadow.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 56px;
    -webkit-animation: candySadowAnimation 3s ease-in infinite;
    -o-animation: candySadowAnimation 3s ease-in infinite;
    animation: candySadowAnimation 3s ease-in infinite;
}

@keyframes slide3BgAnimation {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    45%{
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
    }
    55% {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes candyImgAnimation {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    25% {
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    50% {
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
    }
    70% {
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    83% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes candySadowAnimation {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    25% {
        -webkit-transform: scale(.8);
        -moz-transform: scale(.8);
        -ms-transform: scale(.8);
        -o-transform: scale(.8);
        transform: scale(.8);
    }
    50% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    70% {
        -webkit-transform: scale(.9);
        -moz-transform: scale(.9);
        -ms-transform: scale(.9);
        -o-transform: scale(.9);
        transform: scale(.9);
    }
    83% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

/**************************/

.slide-1,
.slide-2 {
    display: none;
}
.catalog-item[data-item-number="4"] {
    z-index: 860;
}