.simplebar-scroll-content {
    min-width: 101%;
}

.simplebar-track.horizontal {
    display: none;
}

.simplebar-scrollbar {
    background-color: rgba(0, 0, 0, .2);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    cursor: pointer;
    width: 3px;
    z-index: 950;
}

.simplebar-content {
    margin-right: 0 !important;
}